/* Estilo general */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f7fa;
  color: #333;
}

header {
  background: #0077b6;
  color: white;
  padding: 1rem;
}

/* Contenedor del header*/
.header-container {
  display: flex;    
  justify-content: space-between;  
  align-items: center;          
}

/* Ajuste de logo */
.logo {
  height: 100px;   
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration:double underline;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
  background: white;
}

/*Imagenes de la Obra Social*/
.img_Osocial {
  display: flex;          
  flex-wrap: wrap;        
  gap: 20px;              
  justify-content: center; 
}

.img_Osocial img {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  padding: 10px;
  background: white;
}



footer {
  background: #023e8a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
